/* ====================================
   All region in project
   ==================================== */


/* zone global style */

.zone {
    padding-top: 100px;
    & + .zone--featured {
        margin-top: 100px;
    }
    &__title {
        @include font-size(24, 35);
        position: relative;
        font-family: $font-family-special;
        margin-bottom: 50px;
        text-align: center;
        text-transform: uppercase;
        // font-weight: bold;
        @include breakpoint(md) {}
    }
    &__content {
        @include clearfix();
    }
    .area--grey & {
        .zone__title {
            padding: 0;
            &::after {
                left: 0;
            }
        }
    }
    .area--special & {
        .zone__title {
            a {
                color: white;
            }
        }
    }
    &--featured {
        padding-bottom: 100px;
        background: linear-gradient(to right, $brand-info, $brand-warning);
    }
    &--slider {
        @include breakpoint(xs) {
            padding-top: 50px;
        }
        .zone__content {
            position: relative;
        }
    }
}


/* box register */

.box {
    width: 300px;
    padding: 15px;
    margin: 0 auto 20px;
    background: url(../img/bg-mess.png) left top no-repeat;
    background-size: cover;
    color: white;
    &__title {
        text-align: center;
        font-weight: bold;
        font-size: 26px;
        margin-bottom: 15px;
        text-shadow: 1px 1px 2px #000;
    }
    &__content {
        text-align: center;
    }
    &__desc {
        margin-bottom: 15px;
    }
    &__cta {
        margin-top: 10px;
        @include transition(all, 0.2, ease);
        &:hover {
            opacity: 0.8;
        }
    }
}


/* ads */

.qc {
    @include clearfix();
    margin-bottom: 20px;
    text-align: center;
}
