/* ====================================
   All region in project
   ==================================== */


/* zone global style */

.zone {
    padding-top: 100px;
    & + .zone--featured {
        margin-top: 100px;
    }
    &__title {
        @include font-size(24, 35);
        position: relative;
        font-family: $font-family-special;
        margin-bottom: 50px;
        text-align: center;
        text-transform: uppercase;
        // font-weight: bold;
        @include breakpoint(md) {}
    }
    &__content {
        @include clearfix();
    }
    .area--grey & {
        .zone__title {
            padding: 0;
            &::after {
                left: 0;
            }
        }
    }
    .area--special & {
        .zone__title {
            a {
                color: white;
            }
        }
    }
    &--featured {
        padding-bottom: 100px;
        background: linear-gradient(to right, $brand-info, $brand-warning);
    }
    &--slider {
        padding-top: 0;
        // @include breakpoint(xs) {
        //     padding-top: 50px;
        // }
        .zone__content {
            position: relative;
        }
    }
}


/* ads */

.qc {
    @include clearfix();
    margin-bottom: 20px;
    text-align: center;
}
